#rightCornerIcon {
  border-radius: 50%;
  width: 40px;
  background-color: blue;
}

.brand {
  color: Black;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
  font-size: 1.8rem;
}

.sign-in {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .register {
    &:hover {
      background-color: #854d27;
    }
  }
}

.sign-in-nav {
  img {
    width: 40px;
  }
}
